<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Netzwerk Rechner</h2>
      <p>Mit diesem Tool kannst du dein Netz in Subnets zerlegen. Viel Spaß!</p>
    </div>
    <div class="col-xs-12">
      {{#link-to 'index' class="btn btn-default"}}Mein Netzwerk {{fa-icon "signal"}}{{/link-to}}
      {{#link-to 'subnets' class="btn btn-default"}}Meine Subnets {{fa-icon "globe"}}{{/link-to}}
    </div>
  </div>
{{outlet}}
</div>